<div class="border-b-2 border-gray-100 sticky bg-white top-4 z-10 tabs hidden lg:block"
     aria-label="Tabs"
     data-md-component="tabs">
  <div class="container">
    <nav class="flex relative -mx-3 text-sm font-semibold leading-10 text-gray-700 tabs__nav">
      <a class="px-3 py-1 tabs__item hover:opacity-100" href="{{ '/' | url }}">Home</a>
      <a class="px-3 py-1 tabs__item hover:opacity-100" href="{{ '/mern' | url }}">MERN Stack</a>
      <a class="px-3 py-1 tabs__item hover:opacity-100" href="{{ '#' | url }}">SP21 Web Course</a>
    </nav>
  </div>
</div>
