---
layout: default.njk
---

<div class="container mt-8 flex mb-20 mt-5 space-x-8">
  <div class="flex-grow">
    <article class="prose max-w-full prose-indigo">
      {% block content %}
      {{ content | safe }}
      {% endblock %}

    </article>
  </div>
  <div class="w-64 flex-shrink-0 hidden md:block text-gray-500 font-medium">
    {% include "partials/toc.html" %}
  </div>
</div>


